---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout siteName="Services - Inverfennix">
    <section class="flex justify-center h-[100vh]">
        <h1 class="text-3xl font-bold text-black">Services</h1>
    </section>
</MainLayout>
