---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout siteName="Services - Inverfennix">
    <section class="flex justify-center h-[100vh]">
        <div>
            <div>Venta de vehiculos</div>
            <div>Publicidad</div>
            <div>Asesorias Contables</div>
            <div>Desarrollo de Aplicativos Web</div>
        </div>
    </section>
</MainLayout>
