---
import Card from '../components/Cards/Card.astro';


const response = fetch("http://localhost:1337/api/products")
  .then(res => {
    console.log(res)
  })
  .catch(err => {
    console.error(err)
    console.log('Ian we have a problem!')
  })

const Cars = await response
---
<div class="flex flex-wrap justify-center">
    {
        JSON.stringify(Cars)
    }
</div>