---
    import MainLayout from './MainLayout.astro';
    import Button from '../components/AButton.astro';
    const { frontmatter } = Astro.props;
---

<MainLayout siteName={frontmatter.title}>
<div class="flex flex-wrap justify-center py-10 ">
    <div class="max-w-xl rounded-xl overflow-hidden mx-5">
        
        <img src={frontmatter.image} alt="" class="w-full">
    </div>
    <div class="max-w-xl w-full border-2 p-5 rounded-xl">
        <h1 class="text-5xl font-bold">{ frontmatter.title }</h1>
        <p class="break-words text-gray-500 py-5">{ frontmatter.description }</p>
        <section class="flex justify-center my-16">
            <Button
            redirectUrl='https://api.whatsapp.com/send/?phone=573161494980&text&type=phone_number&app_absent=0'
            message='Contactar'
        />
        </section>
    </div>
</div>
</MainLayout>